<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>mercado</title>
</head>

<body class="bg-light-grey">
    <header class="m-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo wd">
            <form class="searchForm wd">
                <input id="searchBar" type="text" placeholder="Buscar productos, marcas y mas...">
                <button class="searchButton" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <h2 class="copy-header wd">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a href="#" class="hamburger-button">
            <i class="fa-solid fa-bars"></i>
        </a>
        <nav class="main-header-bottom-bar">
            <ul class="left-navbar" type="none">
                <li><a class="sep" href="#">Ofertas</a></li>
                <li><a class="sep" href="#">Tiendas Oficiales</a></li>
                <li><a class="sep" href="#">Vender</a></li>
                <li><a class="sep" href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar" type="none">
                <div class="sep">
                    <li><a href="register.html">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
                </div>
                <div class="sep">
                    <li><a href="#">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                </div>
                <div class="sep">
                    <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                </div>
            </ul>
        </nav>
    </header>

    <img class="banner" src="/images/img-home-banner.jpg" alt="img-home-banner">

    <main class="main center">
        <h2 class="titulos">Basado en tu última visita</h2>
        <section class="f-padre">
            <article class="f-articulo shadow">
                <img class="imgart" src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <div class="caja infobox">
                    <i class="fa-solid fa-truck art-v"></i>
                    <div class="flexbox">
                        <p class="precio">$6.770</p>
                        <p class="descuentos art-v">40% OFF</p>
                    </div>
                    <p class="descr lh">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="f-articulo shadow">
                <img class="imgart" src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <div class="caja infobox">
                    <i class="fa-solid fa-truck art-v"></i>
                    <div class="flexbox">
                        <p class="precio">$6.770</p>
                        <p class="descuentos art-v">40% OFF</p>
                    </div>
                    <p class="descr lh">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="f-articulo shadow">
                <img class="imgart" src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <div class="caja infobox">
                    <i class="fa-solid fa-truck art-v"></i>
                    <div class="flexbox">
                        <p class="precio">$6.770</p>
                        <p class="descuentos art-v">40% OFF</p>
                    </div>
                    <p class="descr lh">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="f-articulo shadow">
                <img class="imgart" src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <div class="caja infobox">
                    <i class="fa-solid fa-truck art-v"></i>
                    <div class="flexbox">
                        <p class="precio">$6.770</p>
                        <p class="descuentos art-v">40% OFF</p>
                    </div>
                    <p class="descr lh">Cafetera Moulinex</p>
                </div>
            </article>
        </section>

        <section>
            <h2 class="titulos">Basado en tu última visita</h2>
        </section>
    </main>

<footer>
    <div class="f-flex">
        <div class="fa-flex">
        <p class="text-center blue-icon"><i class="fa-solid fa-credit-card icon-size"></i></p>
    <h3 class="text-center">Pagá con tarjeta o en efectivo </h3>
<p class="descripciones text-center">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!    </p>
</div>

    <div class="fa-flex">
    <p class="text-center blue-icon "> <i class="fa-solid fa-gift icon-size"></i></p>
    <h3 class="text-center"> Envío gratis desde $ 2.500 </h3>
   
    <p class="descripciones text-center"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.  </p>
    </div>

       <div class="fa-flex">
        <p class="text-center blue-icon "><i class="fa-solid fa-user-shield icon-size"></i></p>
    <h3 class="text-center">Seguridad, de principio a fin </h3>
 
    <p class="descripciones text-center"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.  </p>
        <p> </p>
    </div>

</div>
<p class="descripciones text-center">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>

   
</body>
</html>