<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
























    
    <footer>
        <div class="f-flex">
            <div class="fa-flex">
            <p class="text-center blue-icon"><i class="fa-solid fa-credit-card icon-size"></i></p>
        <h3 class="text-center">Pagá con tarjeta o en efectivo </h3>
    <p class="descripciones text-center">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!    </p>
    </div>
    
        <div class="fa-flex">
        <p class="text-center blue-icon "> <i class="fa-solid fa-gift icon-size"></i></p>
        <h3 class="text-center"> Envío gratis desde $ 2.500 </h3>
       
        <p class="descripciones text-center"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.  </p>
        </div>
    
           <div class="fa-flex">
            <p class="text-center blue-icon "><i class="fa-solid fa-user-shield icon-size"></i></p>
        <h3 class="text-center">Seguridad, de principio a fin </h3>
     
        <p class="descripciones text-center"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.  </p>
            <p> </p>
        </div>
    
    </div>
    <p class="descripciones text-center">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>