<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/forms.css"/>





    <title>Crea tu Cuenta</title>
<head>
    <body class="bg-light-grey ">
        <header class="m-header">
            <div class="main-header-top-bar">
                <img src="/images/logo-mercado-liebre.svg" class="logo wd">
                <form class="searchForm wd">
                    <input id="searchBar" type="text" placeholder="Buscar productos, marcas y mas...">
                    <button class="searchButton" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                <h2 class="copy-header wd">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
            <a href="#" class="hamburger-button">
                <i class="fa-solid fa-bars"></i>
            </a>
            <nav class="main-header-bottom-bar">
                <ul class="left-navbar" type="none">
                    <li><a class="sep" href="#">Ofertas</a></li>
                    <li><a class="sep" href="#">Tiendas Oficiales</a></li>
                    <li><a class="sep" href="#">Vender</a></li>
                    <li><a class="sep" href="#">Ayuda</a></li>
                </ul>
                <ul class="right-navbar" type="none">
                    <div class="sep">
                        <li><a href="register">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
                    </div>
                    <div class="sep">
                        <li><a href="login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    </div>
                    <div class="sep">
                        <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                    </div>
                </ul>
            </nav>
        </header>
    
        <img class="banner" src="/images/img-home-banner.jpg" alt="img-home-banner">

<main>
    <form action="/" class="register l-1">
        <h3>Datos de usuario</h3>
        <div class="user-data l-1">
          <input
            type="text"
            name="username"
            placeholder="Nombre y apellido"
            minlength="2"
          />
          <span class="error">Por favor, ingresa un dato válido.</span>
          <input
            type="text"
            name="nickname"
            placeholder="Nombre de usuario"
            minlength="4"
          />
          <span class="error"
            >El nombre de usuario debe tener al menos 4 caracteres.</span
          >
          <input type="email" name="email" placeholder="Correo electrónico" />
          <span class="error"
            >Por favor, ingresa un correo electrónico válido.</span
          >
          <input type="text" name="address" placeholder="Domicilio" />
        </div>
        <h3>Fecha de nacimiento</h3>
        <div class="l-1">
          <input type="date" name="fecha" class="date" />
        </div>
        <h3>Perfil de usuario</h3>
        <div class="user-profile l-1">
          <div class="rad">
            <label for="buyer">Comprador</label>
            <input
              type="radio"
              name="user-profile"
              value="comprador"
              id="buyer"
            />
          </div>
          <div class="rad">
            <label for="seller">Vendedor</label>
            <input
              type="radio"
              name="user-profile"
              id="seller"
              value="vendedor"
            />
          </div>
        </div>
        <h3>Intereses</h3>
        <div class="interest">
          <div class="">
            <label for="electro">Electro</label>
            <input
              type="checkbox"
              name="interests"
              id="electro"
              value="electro"
            />
          </div>
          <div class="check ">
            <label for="fashion">Moda</label>
            <input type="checkbox" name="interests" id="fashion" value="moda" />
          </div>
          <div class="check ">
            <label for="home">Hogar</label>
            <input type="checkbox" name="interests" id="home" value="hogar" />
          </div>
          <div class="check ">
            <label for="toy-store">Juguetería</label>
            <input
              type="checkbox"
              name="interests"
              id="toy-store"
              value="juguetería"
            />
          </div>
          <div class="check">
            <label for="health-life">Vida sana</label>
            <input
              type="checkbox"
              name="interests"
              id="health-life"
              value="vida-sana"
            />
          </div>
        </div>
        <h3>Imagen de usuario</h3>
        <div class="l-1">
          <input type="file" name="avatar" class="avatar" />
        </div>
        <h3>Contraseña</h3>
        <div class="pass l-1">
          <input
            type="password"
            name="key"
            placeholder="Contraseña"
            minlength="8"
          />
          <span class="error"
            >La contraseña debe tener al menos 8 caracteres.</span
          >
          <input
            type="password"
            name="confirm-key"
            placeholder="Confimar Contraseña"
            pattern=".{8,}"
          />
          <span class="error">Las contraseñas no coinciden</span>
        </div>
        <button type="submit">Enviar</button>
        <button type="reset">Borrar datos</button>
      </form>
    </main>

    <footer>
        <div>
            <p class="text-center blue-icon"><i class="fa-solid fa-credit-card icon-size"></i></p>
        <h3 class="text-center">Pagá con tarjeta o en efectivo </h3>
    <p>    </p>
    
    <p class="descripciones text-center">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!    </p>
        <p> </p>
        <p class="text-center blue-icon "> <i class="fa-solid fa-gift icon-size"></i></p>
        <h3 class="text-center"> Envío gratis desde $ 2.500 </h3>
        <p>    </p>
        <p class="descripciones text-center"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.  </p>
    
            <p> </p>
            <p class="text-center blue-icon"><i class="fa-solid fa-user-shield icon-size"></i></p>
        <h3 class="text-center">Seguridad, de principio a fin </h3>
        <p>    </p>
        <p class="descripciones text-center"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.  </p>
            <p> </p>
    <p class="descripciones text-center">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    
    </div>
    
    </footer>
</body>
</html>