<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/forms.css"/>





    <title>Crea tu Cuenta</title>
</head>
<body>
 
    <form action="/registro" method="POST">
        <label for="nombre">Nombre y apellido</label>
        <input type="text" name="nombre y apellido" id="nombre">
    
        <label for="nombre">Nombre de usuari@</label>
        <input type="text" name="nombre y apellido" id="nombre">
        
        <label for="telefono">Edad:</label>
        <input type="tel" name="edad" id="telefono">

        <label for="nacimiento">fecha de nacimitno</label>
        <input type="date" name="fecha" value="2021-07-22" min="2018-01-01" max="2022-12-31">


















    </form>





























    <footer>
        <div>
            <p class="text-center blue-icon"><i class="fa-solid fa-credit-card icon-size"></i></p>
        <h3 class="text-center">Pagá con tarjeta o en efectivo </h3>
    <p>    </p>
    
    <p class="descripciones text-center">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!    </p>
        <p> </p>
        <p class="text-center blue-icon "> <i class="fa-solid fa-gift icon-size"></i></p>
        <h3 class="text-center"> Envío gratis desde $ 2.500 </h3>
        <p>    </p>
        <p class="descripciones text-center"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.  </p>
    
            <p> </p>
            <p class="text-center blue-icon"><i class="fa-solid fa-user-shield icon-size"></i></p>
        <h3 class="text-center">Seguridad, de principio a fin </h3>
        <p>    </p>
        <p class="descripciones text-center"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.  </p>
            <p> </p>
    <p class="descripciones text-center">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    
    </div>
    
    </footer>
</body>
</html>